@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

:root {
  --main-color: rgb(240, 88, 0);
  --accent-color: white;
}
body {
  max-width: 980px;
  margin: auto;
}
.header-nav .logo {
  font-family: "Oregano", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  margin-left: 7%;
}
[class~="small-logo"] {
  font-size: x-large;
  color: var(--main-color);
  font-family: "Oregano", sans-serif;
}
.header-nav .menu-items {
  justify-content: flex-end;
  flex: 1;
  display: none;
  margin-right: 25px;
}
.header-nav .menu-items a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  padding: 12px;
  border: 1px solid transparent;
  font-size: 25px;
  font-weight: bold;
}
.header-nav .menu-items a:hover {
  color: var(--accent-color);
}

/* Burger men */
.burger-icon {
  font-size: 2rem;
}
.burger-icon:hover {
  cursor: pointer;
}
#burger-checkbox {
  display: none;
}
.header-nav input:checked ~ .menu-items {
  display: inline;
  text-align: center;
}

@media (min-width: 769px) {
  .burger-icon {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  #burger-checkbox ~ .menu-items {
    display: flex;
  }
}

#header-top {
  background-image: url(../img/check-box-header.jpg);
  opacity: 0.6;
  background-position: center;
  background-size: cover;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

#map {
  height: 100%;
   margin-bottom: -6px;
}


.location {
  margin: 20px;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  font-size: 200%;
  letter-spacing: 3px;
}


.card-img-location{
  height:250px;
  overflow:hidden;
}



/*Form and parallax*/

#works {
  height: 100vh;
  width: 100%;
  position: relative;
}
#works .second-img {
  width: 100%;
  height: 100%;
  max-width: 980px;
  background-image: url(../img/cookies12new.jpg);
  opacity: 0.6;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#works .title {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  padding-bottom: 250px;
  padding-top: 150px;
  padding-right: 250px;
}
h2 {
  color: white;
  font-family: helvetica;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
}
span {
  display: inline;
  color: white;
  font-family: helvetica;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}
.second-img {
  background-attachment: fixed;
}


form { 
    max-width:420px;    
}

.form-center{
    padding-left: 70px;
    margin-left: 110px; 
    

}

.orange-contact{
color: var(--main-color);
font-family: "Oregano", sans-serif;
  font-size: 2.1rem;
  padding-bottom: 10px;
  text-align: center;
}


.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }


.page-footer{
  background-color: #27292b;
}
.orange{
    color: var(--main-color);
    font-family: "Oregano", sans-serif; 
}
.color{
 color: white;
}
.colortime{
  color: var(--main-color);
}
.footer-padding{
padding-right: 10px;
padding-left: 15px;
}
.line-color{
    background-color: grey;
    width: 980px;
}


a.btn-social,
.btn-social {
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 8px 1px;
  text-align: center;
  text-decoration: none;
  
  width: 30px;
}

.btn-social .fa,
.btn-social i {
  backface-visibility: hidden;
   transform: scale(1);
  transition: all 0.25s;
}
.btn-social:hover,
.btn-social:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.btn-social.btn-xs {
  font-size: 9px;
  height: 14px;
  line-height: 13px;
  margin: 6px 2px;
  width: 14px;
}
.btn-social.btn-sm {
  font-size: 13px;
  height: 16px;
  line-height: 18px;
  margin: 6px 2px;
  width: 16px;
}
.btn-social.btn-lg {
  font-size: 12px;
  height: 12px;
  line-height: 10px;
  margin: 10px 6px;
  width: 10px;
}

.btn-facebook {
  background-color: #3b5998;
}
.btn-facebook:hover {
  background-color: #4c70ba;
}
.btn-instagram {
  background-color: #3f729b;
}
.btn-instagram:hover {
  background-color: #548cb9;
}
.btn-youtube {
  background-color:  #e52d27;;
}
.btn-youtube:hover {
  background-color: #ea5955;
}

.gallary{
  text-align: center;
  padding: 20px;
}
 
.top-image{
  margin-top: 40px;
  margin-bottom: 35px;
  padding-bottom: 30px; 
}
.gallary-top{
  background-color: #1a1203;
  border-color: #1a1203;
  color: rgba(240, 239, 234, 0.925); 
  margin: auto;
  padding-bottom: 20px;
}

.back-image-story{
  background-image: url(../img/image-about.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 450px;
  max-width: 980px;
  opacity: 0.8;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.back-image-bottom{
  background-image: url(../img/bottom-image.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 350px;
  max-width: 980px;
  opacity: 0.8;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}


.story-text-padding {
  margin-top: 30px;
  margin-bottom: 30px;
}






